<div class="post">
	<%= simple_form_for (@message) do |form| %>
	  <p>
	    <%= form.label :name %><br/>
	    <%= form.text_field :name %>
	  </p>

	  <p>
	    <%= form.label :email %><br/>
	    <%= form.text_field :email %>
	  </p>
	 
	  <p>
	    <%= form.label :text %><br/>
	    <%= form.text_area :text %>
	  </p>
	 
	  <%= button_to 'Submit Message', :method => :submit %><br />
	<% end %>
</div>