<h1>Write your new post</h1>

<%= simple_form_for (@post) do |form| %>
  <p>
    <%= form.label :title %><br/>
    <%= form.text_field :title %>
  </p>
 
  <p>
    <%= form.label :body %><br/>
    <%= form.text_area :body %>
  </p>
 
  <%= form.button :submit %>
<% end %>