<title>@post.title</title>

<h2><%= @post.title %></h2>

<div class="transbox">
    <p><%= simple_format @post.body %></p>
    <%= render "comments" %>
    <%= render "post_comment" %>
    <%= render "admin_options" %>
</div>