<!DOCTYPE html>
<html lang= "en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Earl Sabal's Page</title>

  <link href="css/bootstrap.min.css" rel="stylesheet">
  
  <% flash.each do |name, msg| %>
  	<%= content_tag :p, msg if msg.is_a?(String) %>
  <% end %>
  <%= link_to "home", posts_path %>


</head>
<body>



<%= yield %>
<div id="container">
      
      <% if current_admin %>
        <p><%= button_to 'Logout', admin_session_path(current_admin_session), :method => :delete %></p>
      <% else %>
        <p><%= link_to 'Login', new_admin_session_path %></p>
      <% end %>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
</body>
</html>
